@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #283e48;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.img-vh {
  height: 15em;
}
.click {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click-position {
  margin: 20px;
}

.button {
  width: 12em;
  font-family: "Roboto Slab", serif;
  display: inline-block;
  padding: 15px 70px;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #44c100;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btnd:focus,
.btnd:active,
.btnd.active,
.btnd:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button:hover {
  background-color: #49cf00;
}

.button:active {
  background-color: #4edb02;
  box-shadow: 0 3px rgb(119, 119, 119);
  transform: translateY(3px);
}

@media only screen and (max-width: 450px) {
  .img-vh {
    height: 10em;
  }

  .button {
    padding: 15px 0px;
    font-size: 1.15em;
  }
}
